{% extends 'libreria/common.html'%}

{% block content %}

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="container">
        <div class="row" style="display: inline-flex; width:100%">
            <div class="col-sm" style="margin-top: 5%;">
                <center>
                    <img src="../../static/libreria/membro.png" alt="logomembro"  style="width:8rem; height:8rem;" >
                    <div class="tab" style="width:50%">
                        <div class="tab__title">Dati Membro</div>
                        <div class="tab__data">
                            <div class="tab__center">
                                <div class="item"><label for="id_member_id">Member id:</label><input type="text" name="member_id" maxlength="13" required="" id="id_member_id" value="{{ membro.member_id }}"></div>
                                <div class="item"><label for="id_name">Name:</label><input type="text" name="name" maxlength="40" required="" id="id_name" value="{{ membro.name }}"></div>
                                <div class="item"><button type="submit" class="btn btn-dark">Salva</button></div>
                            </div>
                        </div>
                    </div>
                </center>
            </div>
        </div>
    </div>  
    <label for="id_password">Password</label>
        {{ password_form.password }}  <!-- Questo renderizza il campo password -->
</form>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

{% endblock %}

