{% extends 'libreria/common.html'%}

{% block content %}

<style>
    table {
        margin-left: 1%;
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 18%;
    }

    td, th {
        border: 0px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
        <p></p>
        <tr>
            <td>
                <img src="../../static/libreria/membro.png" border="0" alt="logomembro"  width="100" height="100" >
            </td>
        </tr>
        <tr>
            <td>
                <label for="id_member_id">Member id:</label>
            </td><td>
                <input type="text" name="member_id" maxlength="13" required="" id="id_member_id" value="{{ membro.member_id }}">
            </td>
        </tr><tr>
            <td>
                <label for="id_name">Name:</label>
            </td><td>
                <input type="text" name="name" maxlength="40" required="" id="id_name" value="{{ membro.name }}">
            </td>
        </tr><tr>
            <td>
            </td>
            <td>
                <button type="submit">Salva</button>
            </td>
        </tr>
</form>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

{% endblock %}

