{% extends 'libreria/common.html'%}

{% block content %}

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="container">
        <div class="row" style="display: inline-flex; width:100%">
            <div class="col-sm" style="margin-top: 5%;">
                <center>
                    {% load static %}
                    <img src="{% static 'libreria/libro.png' %}" alt="logolibro" style="width:8rem; height:8rem;">
                    <div class="tab" style="width:50%">
                        <div class="tab__title">Dati Libro</div>
                        <div class="tab__data">
                            <div class="tab__center">
                                <div class="item"><label for="id_book_id">ISBN:</label><input type="text" name="book_id" maxlength="13" required="" id="id_book_id" value="{{ libro.book_id|escape }}"></div>
                                <div class="item"><label for="id_image">Image:</label><input type="file" name="image" accept="image/*" id="id_image"></div>
                                <div class="item"><label for="id_title">Title:</label><input type="text" name="title" maxlength="100" required="" id="id_title" value="{{ libro.title|escape }}"></div>
                                <div class="item"><label for="id_author">Author:</label><input type="text" name="author" maxlength="100" required="" id="id_author" value="{{ libro.author|escape }}"></div>
                                <div class="item"><label for="id_shelf">Shelf:</label><input type="text" name="shelf" maxlength="3" id="id_shelf" value="{{ libro.shelf|escape }}"></div>
                                <div class="item"><label for="id_is_borrowed">Is borrowed:</label><input type="checkbox" name="is_borrowed" id="id_is_borrowed" {% if libro.is_borrowed %}checked{% endif %}></div>
                                <div class="item"><label for="id_is_expired">Is expired:</label><input type="checkbox" name="is_expired" id="id_is_expired" {% if libro.is_expired %}checked{% endif %}></div>
                                <div class="item"><button type="submit" class="btn btn-dark">Salva</button></div>
                                
                            </div>
                        </div>
                    </div>
                </center>
            </div>
        </div>
    </div>  
    <label for="id_password">Password</label>
        {{ password_form.password }}  <!-- Questo renderizza il campo password -->
    {% if libro.image %}
        <img src="{{ libro.image.url }}" class="card-img-top" alt="..." style=" object-fit: contain; height:70%; min-width:18rem;" >
    {% endif %}
       
</form>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

{% endblock %}

