{% extends 'libreria/common.html'%}
{% block content %}
<center>
    <div class="col-sm">
            <p></p>
            <div class="parent" style="width: 18rem;">
                <img class="image1" src="{{ libro.image.url }}">
               
                {% if libro.is_expired %}
                    {% load static %}
                    <img class="image2" src="{% static 'libreria/Red-Line.png' %}">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ libro.title }}</h5>
                    <p class="card-text">{{ libro.author }}</p>
                    <form method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">Escludi</button>
                        <a href="{{ libro.book_id }}/modify" class="btn btn-primary">Modifica libro</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</center>

{% endblock %}
