{% extends 'libreria/common.html' %}

{% block content %}

<div class="container my-5 text-center" style="max-width: 580px">
    
    <div class="d-grid justify-content-center gap-2" >
        <a href="{% url 'aggiungi_libro' %}" class="btn btn-primary" id="btn-home">Aggiungi Libro</a>
        <a href="{% url 'aggiungi_membro' %}" class="btn btn-primary" id="btn-home">Aggiungi Membro</a>
        <a href="{% url 'lista_membri' %}" class="btn btn-primary" id="btn-home">Lista Membri</a>
    </div>

    <div class="mt-3">
        <a href="{% url 'stats_library' %}" class="btn btn-outline-primary">Statistiche Libreria</a>
    </div>

    <form method="get" action="{% url 'home' %}" class="mt-3">
        <div class="input-group">
            <input type="text" class="form-control" name="query" placeholder="Cerca per Titolo, Autore o ISBN" aria-label="Titolo, Autore o ISBN" value="{{ request.GET.query|default:''|escape }}">
            <button type="submit" class="btn btn-primary">Cerca</button>
        </div>
    </form>
</div>

<div class="container">
    <div class="row">
        {% for libro in libri %}
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card position-relative">
                <img src="{{ libro.image.url }}" class="card-img-top image1" alt="Copertina libro">
                
                {% load static %}
                {% if libro.is_expired or libro.is_borrowed %}
                <div class="position-absolute top-0 start-0 p-2">
                    {% if libro.is_expired %}
                        <img src="{% static 'libreria/expired.png' %}" alt="SCADUTO"  class="img-fluid" style="max-height: 40px;">
                    {% endif %}
                    {% if libro.is_borrowed %}
                        <img src="{% static 'libreria/borrowed.png' %}" alt="PRENOTATO"  class="img-fluid" style="max-height: 40px;">
                    {% endif %}
                </div>
                {% endif %}

                <div class="card-body text-center d-flex flex-column">
                    <h5 class="card-title">{{ libro.title }}</h5>
                    <p class="card-text">{{ libro.author }} - {{ libro.shelf }}</p>
                    <a href="{% url 'book' book_id=libro.book_id %}" class="btn btn-primary mt-auto">Maggiori Informazioni</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
