{% extends 'libreria/common.html'%}

{% block content %}


    <div class="container my-5 text-center" style="max-width:580px">
        <h1>Libreria ITS</h1>
        <p class="lead">Più libri per tutti!
        </p>
        <a href="{% url 'aggiungi_libro' %}" type="button" class="btn btn-primary">Aggiungi Libro</a>
        <a href="{% url 'aggiungi_membro' %}" type="button" class="btn btn-primary">Aggiungi Membro</a>
        <a href="{% url 'lista_membri' %}" type="button" class="btn btn-primary">Lista Membri</a>
        <p></p>
        <form method="get" action="/libreria/">
            <p>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" name="query" placeholder="Cerca per Titolo, Autore o ISBN" aria-label="Titolo, Autore o ISBN" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary">Cerca Libro</button>
                    </div>
                </div>
            </p>
        </form>
    </div>

    <div class="container">
        <div class="row">
            {% for libro in libri %}
            <div class="col-sm">
                <div class="card" style="height:30rem;">
                    <img src="{{ libro.image.url }}" class="card-img-top" alt="..." style=" object-fit: contain; height:70%; min-width:18rem;">
                    <div class="card-body" style=" object-fit: contain;">
                        <h5 class="card-title">{{ libro.title }}</h5>
                        <p class="card-text">{{ libro.author }}</p>
                        <a href="{{libro.getUrl}}" class="btn btn-primary">Maggiori Informazioni</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>


{% endblock %}