{% extends 'libreria/common.html'%}
{% block content %}
<center>
    <div class="col-sm">
            <p></p>
            <div class="parent" style="width: 18rem;">
                <img class="image1" src="{{ libro.image.url }}">
               
                {% if libro.is_expired %}
                    {% load static %}
                    <img class="image2" src="{% static 'libreria/Red-Line.png' %}">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ libro.title }}</h5>
                    <p class="card-text">{{ libro.author }}</p>
                    <p class="card-text">ISBN: {{ libro.book_id }}</p>
                    <center>
                        <a href="{{ libro.book_id }}/modify" class="btn btn-primary" style="margin-bottom:2%;">Modifica</a>
                    </center>
                        <form method="POST" style="width : fit-content; float: left;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary" name="escludi">Scaduto</button>
                        </form>
                        
                        <form method="POST" style="width : fit-content; float: right;">
                            {% csrf_token %}    
                            <button type="submit" class="btn btn-danger" style="width:91px;"name="elimina">Elimina</button>
                        </form>
                    
                </div>
                <form method="POST" style="width : fit-content; float: center;">
                    {% csrf_token %}        
                    <div class="input-group mb-3">
                        
                        <select class="custom-select" id="inputGroupSelect04" name="member">
                            <option selected>Lista Membri</option>
                            {% for membro in membri %}
                                <option value="{{ membro.member_id }}">{{ membro.name }}</option>
                            {% endfor %}
                        </select>
                        <div class="input-group-append">
                            <button class="btn btn-warning" type="submit" name="prenota">Prenota</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% if libro.is_borrowed == True %}
    <div class="col-sm">
        <div class="card" style="width: 18rem;">
            
            <img src="../../static/libreria/membro.png" class="card-img-top" alt="...">
            
            <div class="card-body">
                <h5 class="card-title">{{ libro.member.name }}</h5>
                <p class="card-text">{{ libro.member.member_id }}</p>
                <a href="m/{{ libro.member.member_id }}" class="btn btn-primary">Dettagli Membro</a>
            </div>
        </div>
    </div>
    {% endif %}
</center>

{% endblock %}
