{% extends 'libreria/common.html'%}

{% block content %}
    <div class="container">
        <div class="row" style="display: inline-flex; width:100%">
            <div class="col-sm" style="margin-top: 5%;">
                <center style="font-size:1.35rem;">
                    Libri Totali: <a style="color: #ffc720">{{ n_libri }}</a>
                    Membri Totali:  <a style="color: #ffc720">{{ n_membri }}</a>
                </center>
                <div class="tab" style="width:100%" style="color: ghostwhite; background-color: ghostwhite;">
                    <div class="tab__title">Stato Libri</div>
                    <div class="tab__data">
                        <div class="tab__center">
                            {% for l in libri %}
                                
                                <div class="item__left">{{l}} </div>
                                <div class="item__right">
                                    {% if l.is_borrowed and l.is_expired %}
                                        Scaduto & Presatto
                                    {% elif l.is_expired %}
                                        Scaduto
                                    {% elif l.is_borrowed %}
                                        Prestato
                                    {% else %}
                                        Disponibile
                                    {% endif %}
                                </div>
                            {% endfor %}
                            
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm" style="margin-top:5%">
                <center>
                    <a style="font-size:1.35rem;">Libri Prestati: <a style="color: #ffc720; font-size:1.35rem;">{{ n_libri_prestati }}</a></a>
                    <div class="tab">
                        <div class="tab__title">Elenco Libri Prestati</div>
                        <div class="tab__data">
                            <div class="tab__center">
                                {% for prestati in libri_prestati %}
                                    <div class="item"> {{ prestati.title }} </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                
                     <a style="font-size:1.35rem;">Libri Scaduti: <a style="color: #ffc720; font-size:1.35rem;">{{ n_libri_scaduti }}</a></a>
                    <div class="tab">
                        <div class="tab__title">Elenco Libri Scaduti</div>
                        <div class="tab__data">
                            <div class="tab__center">
                                {% for scaduti in libri_scaduti %}
                                    <div class="item"> {{ scaduti.title }} </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </center>
            </div>
        </div>

    </div>


{% endblock %}