body{
  background-color: #212121;
  color:rgb(169, 214, 180);
}

.card{
  border:1px solid rgb(169, 214, 180);
  background-color: #212121;
  height:30rem; 
  margin-bottom:5%;
}

.card-img-top{
  margin-top: 5%;
  object-fit: contain; 
  height:70%; 
  min-width:18rem;
}

.card-body{
  object-fit: contain;
}

.parent {
  position: relative;
  top: 0;
  left: 0;
  white-space: nowrap;
  text-align: center;
}
  
.image1 {
  object-fit: contain; 
  height:70%; 
  width:18rem;
  position: relative; 
  left: 0;
}
  
.image2 { 
  position: absolute;
  top: 15%;
  left: -17.5%;
  object-fit: contain;
  height: 70%;
  max-width: 135%;
}
 
.tab {
  width: 250px;
  background: rgb(169, 214, 180);
  font-family: arial, sans-serif;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}

.tab__title {
  text-align: center;
  color: #212121;
  font-weight: bold;
  padding: 5px 10px;
  border-bottom: 1px solid rgb(169, 214, 180);
  font-size: 1.35rem;
}

.tab__data {
  font-size: 1.25rem;
  display: flex;
  justify-content: space-between;
  border-right: 1px solid rgb(169, 214, 180);
  border-left: 1px solid rgb(169, 214, 180);
  border-bottom: 1px solid rgb(169, 214, 180);
}

.tab__right {
  width: -moz-available;
  border-right: 2px solid rgb(169, 214, 180);
}

.tab__left {
  width: 40%;
  text-align: end;
}

.tab__center{
  width:100%;
  text-align: center;
}

.item {
  color: #212121;
  padding: 3px 0;
  background-color: white;
}

.item__right{
  width:40%;
  color: #212121;

  padding-right: 0.8em;
  border-left: 2px solid rgb(169, 214, 180);
  text-align: end;
  float:right;
}

.item__left{
  width:100%;
  color: #212121;
  background-color: white;

  padding-left: 0.8em;
  text-align: start;
  float:left;
}

.tab__right .item {
  padding-left: 0.8em;
}

.tab__left .item {
  padding-right: 0.8em;
}

.item:nth-child(even) {
  background: rgb(234, 235, 234);
}

.item_left:nth-child(even) {
  background: rgb(234, 235, 234);
}